doctype html
html
    head
        title= title

        //indicate that our site is mobile optimized
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        //reference our site-specific css
        link(rel='stylesheet', href='/stylesheets/style.css')

        //add bootstrap dependencies from CDNjs. Using a CDN to distribute these files puts less pressure
        //on our web server and will be delivered faster to the client than our own server.
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
        script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
    body

        block navBar
            nav(class='navbar navbar-default', role='navigation')
                .container-fluid
                    .navbar-header
                        button(class='navbar-toggle', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.sronly
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a(class='navbar-brand', href='/#') Bookworm
                    #bs-example-navbar-collapse-1(class='collapse navbar-collapse')
                        ul(class='nav navbar-nav navbar-right')
                            li
                                a(href='/search') Search
                            li
                                a(href='/add') Add
                            if authorised
                                li
                                    a(href='/signout') Logout
                            else
                                li
                                    a(href='/signup') Sign Up
                                li
                                    a(href='/signin') Log In

        block pageContent
    div.data-island
        block dataIsland

    if starterFile
        script(src='scripts/lib/require.js', data-main=starterFile)


